<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Pet Care</h1>
      </ion-header-bar>
      <ion-content>

     <!--  <div ng-controller="AppCtrl">

                <div class="container" ng-show="LoginCtrl">
                      <div class="list">
                        <label class="item item-input">
                          <input type="text" placeholder="First Name">
                        </label>
                        <label class="item item-input">
                          <input type="text" placeholder="Last Name">
                        </label>
                      </div>
                      <button class="button button-positive">
                        Login
                      </button>
                </div>      

      </div> -->

<!--       <div ng-controller="ImageCtrl">          
          <img ng-src="{{pathForImage(image)}}" style="width: 100%; height: 100%;">

           <div class="button-bar bar-positive">
            <button class="button icon-left ion-camera" ng-click="loadImage()">Take Photo</button>
            <button class="button icon-left ion-upload" ng-click="uploadImage()" ng-disabled="image === null">Upload</button>
          </div>
      </div> -->    
    <!--   <iframe src="http://192.168.43.78/petcare/try.php"></iframe> -->

<!--     <iframe ng-src="http://192.168.43.78/petcare/try.php" width="WIDTH" height="HEIGHT" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>

 -->

    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

    <button menu-toggle="right" class="button button-icon icon ion-chatboxes"></button>


  <div  class="has-header has-bottom" padding="true" ng-controller="CameraCtrl">
    <h1><i class="mdi-image-camera-alt small"></i><br />INSERT PHOTO</h1>
    <div class="button-bar"> <a class="button" ng-click="takePicture();">Take photo</a> <a class="button" ng-click="selectPicture()">Choice photo</a> <a class="button" ng-click="viewPictures();">View loaded</a> </div>
    <div ng-show="picData" class="item item-image">When pics loaded click to upload!<img id="myImage" class="item" ng-src="{{picData}}" ng-click="uploadPicture()" style="height:200px;"/></div>
    <div class="home-sq" ng-show=photos><p><i class="icon ion-alert-circled" style="color:#F60"></i> Click to set photo like avatar, or lon click to delete!<p>
      <div ng-repeat="photo in photos track by $index" ng-click="setPhoto($index, photo.name, profilo.user_id)" on-hold="delPhoto($index, photo.name)" style="background-image:url({{photo.file}});background-size:120% auto"> </div>
    </div>
  </div>  
      </ion-content>
    
<!--       <ion-footer-bar class="bar bar-positive">
      <div class="button-bar">
        <button class="button icon-left ion-camera" ng-click="loadImage()">Take Photo</button>
        <button class="button icon-left ion-upload" ng-click="uploadImage()" ng-disabled="image === null">Upload</button>
      </div>
    </ion-footer-bar>
 -->
    

    </ion-pane>

    <style type="text/css">
      .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
    </style>

  </body>
</html>
